certifi==2024.6.2
charset-normalizer==3.3.2
idna==3.7
mercadopago==2.2.3
pillow==10.4.0
pyTelegramBotAPI==4.20.0
requests==2.32.3
telebot==0.0.5
urllib3==2.2.2
gunicorn==19.7.1
inspect-it==0.3.2
app==0.0.1
